.forgot-pass-form {
  margin: auto;
  width: 100%;
  word-break: break-word;
  overflow: hidden;
}

.forgot-pass-btn-icons {
  margin-right: 6px;
}

.forgot-pass-msg {
  margin-top: 40px;
  font-size: 18px;
}

.forgot-pass-btn-row {
  direction: rtl;
}

.forgot-password-email-div-input {
  max-width: 600px !important;
  margin-right: auto;
  margin-left: auto;
}